<!-- app/views/home/index.html.erb -->
<h2 class="text-2xl font-bold text-gray-800 mb-8">Добро пожаловать в Институт математики, механики и компьютерных наук</h2>

<div class="py-6">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
    <!-- Левая колонка - Новости -->
    <div class="lg:col-span-2 space-y-6 -mt-10">
      <div class="flex items-center justify-between mb-2">
        <h3 class="text-2xl font-semibold text-teal-700 flex items-center">
          <i class="fas fa-newspaper mr-2 text-teal-500"></i> Новости
        </h3>
      </div>

      <% @articles.each do |article| %>
        <div class="bg-white rounded-lg shadow-md p-5 hover:shadow-lg transition duration-300">
          <h3 class="text-xl font-semibold text-gray-800 mb-2"><%= article.title %></h3>

          <div class="flex flex-wrap text-sm text-gray-500 mb-3 gap-4">
            <div class="flex items-center">
              <i class="fas fa-user-edit mr-1 text-teal-500"></i>
              <%= article.user.email %>
            </div>
            <div class="flex items-center">
              <i class="far fa-calendar-alt mr-1 text-teal-500"></i>
              <%= article.formatted_updated_date %>
            </div>
          </div>

          <p class="text-gray-600 mb-4 line-clamp-3">
            <%= article.body.truncate(500) %>
          </p>

          <div class="text-right">
            <%= link_to 'Подробнее', article_path(article.id), class:"inline-block px-4 py-2 bg-teal-600 text-white rounded hover:bg-teal-700 transition duration-300" %>
          </div>
        </div>
      <% end %>

      <div class="flex justify-center">
        <%= render partial: "shared/pagination", locals: { pagy: @pagy } %>
      </div>
    </div>

    <%= render 'layouts/right_navbar' %>
  </div>
</div>