<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Мехмат ЮФУ" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= yield :head %>

    <!-- <link rel="manifest" href="/manifest.json"> -->
    <!-- <link rel="icon" href="/icon.png" type="image/png"> -->
    <!-- <link rel="icon" href="/icon.svg" type="image/svg+xml"> -->
    <!-- <link rel="apple-touch-icon" href="/icon.png"> -->
    <!-- <link rel="stylesheet" href="/assets/builds/application.css"> -->
    <!-- <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %> -->
  </head>

  <body class="flex flex-col">
    <%= render "layouts/header" %>
    <div class="flex grow h-screen">
      <div class="basis-1/6">
        <%= render "layouts/navbar" %>
      </div>
      <div class="basis-5/6">
        <%= yield %>
      </div>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
